<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bih.nic.MigrentJobSearch">

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <permission android:name="android.permission.READ_PHONE_STATE" />
    <permission android:name="android.permission.READ_PROFILE" />
    <permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />
    <permission android:name="android.permission.INTERNET" />
    <permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <permission android:name="android.permission.CAMERA" />
    <permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.hq.DeptJobVacencyReportActivity"
            android:theme="@style/NoActionBar"></activity>
        <activity
            android:name=".ui.hq.HqHomeActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".ui.employer.WorkSite_Edit_activity" />
        <activity
            android:name=".ui.employer.AddWorkRequirementActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.employer.AcceptedRejctd_Job_Activity" />
        <activity android:name=".ui.employer.LabourSearchActivity" />
        <activity android:name=".ui.employer.LabourDetailActivity" />
        <activity android:name=".ui.labour.PaymentStatusActivity" />
        <activity android:name=".ui.labour.JobSearchActivity" />
        <activity android:name=".ui.labour.ModifyDocumentActivity" />
        <activity android:name=".ui.labour.ProfileActivity" />
        <activity android:name=".ui.labour.RequestOtpActivity" />
        <activity android:name=".ui.labour.MainHomeActivity" />
        <activity android:name=".ui.employer.JobOfferPostedActivity" />
        <activity android:name=".ui.employer.LegacyTableViewActivity" />
        <activity android:name=".ui.employer.BlocJobOfferActivity" />
        <activity android:name=".ui.employer.JobOfferPosted_BlockActivity" />
        <activity android:name=".ui.hq.Job_Offer_activity_HQ" />
        <activity android:name=".ui.hq.JobOffer_HQ_BlockActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".VerifyAadhaar1" />
        <activity android:name=".ui.employer.EmployerRegistrartionActivity" />
        <activity
            android:name=".ui.employer.AddWorkSiteDetails_Activity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".Login" /> <!-- <activity -->
        <!-- android:name=".UpdateAdhaar" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.example.nic.aadhar1.UpdateAdhaar" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name=".UpdateAdhaarMobile" />
        <activity android:name=".OfficeReport.DistricWise"></activity>
        <activity android:name=".OfficeReport.BlockWiseConsolidated"></activity>
        <activity android:name=".OfficeReport.WorkSiteReport"></activity>
        <activity android:name=".OfficeReport.WorkSiteReportNew"></activity>

        <activity android:name=".ChooseCenter" />
        <activity android:name=".VerifyAadhaar" />
        <activity android:name=".MultiplePhotoActivity" />
        <activity android:name=".ui.labour.ChangeMobileNumberActivity" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".ui.labour.UpdateMobileNumberActivity" />
        <activity android:name=".ui.employer.EmployerMainHomeActivity" />
        <activity
            android:name=".ui.MultiLoginActivity"
            android:theme="@style/Theme.AppCompat.Light" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".VerifyAadhaarGlobally" />
    </application>

</manifest>